<a href="https://colab.research.google.com/github/marciogsantana/Ciencia-de-dados/blob/main/teste_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
fornecedor = pd.read_csv('fornecedor_cnpj.csv', sep= ';')

In [ ]:
fornecedor

In [ ]:
teste = fornecedor['cnpj']
print(teste)

In [ ]:
novo = fornecedor
limite_credito = []

In [ ]:
for index, row in fornecedor.iterrows():
    tata = (row['cnpj'])
    limite_credito.append(tata)

In [ ]:
limite_credito

['04.641.376/0073-00',
 '49.930.514/0007-20',
 '19.714.252/0001-00',
 '19.714.252/0003-72',
 '18.107.045/0002-06',
 '28.481.219/0008-45',
 '04.737.552/0017-03',
 '05.455.270/0001-00',
 '17.190.802/0001-04',
 '04.737.552/0039-00']

In [ ]:
novo = fornecedor
novo['limte_credito'] = limite_credito
novo

   codigo  ...       limte_credito
0   15410  ...  04.641.376/0073-00
1    7910  ...  49.930.514/0007-20
2     675  ...  19.714.252/0001-00
3    4445  ...  19.714.252/0003-72
4    1324  ...  18.107.045/0002-06
5   85768  ...  28.481.219/0008-45
6   28341  ...  04.737.552/0017-03
7   36888  ...  05.455.270/0001-00
8    9900  ...  17.190.802/0001-04
9   84182  ...  04.737.552/0039-00

[10 rows x 4 columns]

In [ ]:
valor = 'R$ 17.460,00'
valor.split()

['R$', '17.460,00']

In [ ]:
real = valor.split('R$')
real

['', ' 17.460,00']

In [ ]:
tata = real[1]
tata

' 17.460,00'

In [ ]:
novo.to_csv('lista_atual.csv', sep=';')

In [ ]:
canal =  pd.read_csv('venda_canal.csv', sep= ';',  encoding = 'unicode_escape')

In [ ]:
canal = pd.read_excel('/content/Relatório de venda_testes.xlsx')

In [ ]:
canal

In [ ]:
canal_cliente = canal.loc[(canal.COD_CLIENTE == 37361)]

In [ ]:
canal_cliente

In [ ]:
teste = canal.iloc[0]['CLIENTE']
teste

' ANTARES COMERCIO DE ALIMENTOS EIRELI '

In [ ]:
nome_cliente

'A & A RESTAURANTE E LANCHONETE LTDA'

In [ ]:
nome_cliente

'A & A RESTAURANTE E LANCHONETE LTDA'

In [ ]:
codigo_cliente

37361

In [ ]:
nome_cliente

'A & A RESTAURANTE E LANCHONETE LTDA'

In [ ]:
canal_cliente

''

In [ ]:
lista_cliente

In [ ]:
lista_unica = list(set(lista_cliente))
print (lista_unica)

In [ ]:
lista_canal

In [ ]:
lista_unica_canal = list(set(lista_canal))
print (lista_unica_canal)

['PX CURIMBATA EVISC LCA  20KG', 'ASA CG AVENOVA ENV 18KG', 'EMP REZENDE STEAK FGO 72X100G', 'COPA LOMBO S/OSS CG COOPCARNE', 'LING SADELLE CALAB FININ 3X5KG', 'COX ASA CG BIG TEMP PT18KG', 'PX SURUBIM POST DIBON 15X700G', 'FRANGO CG FERREIRA 20KG', 'LEITE LV ITA INTEGRAL 12X1L', 'GALINHA CG SABORO PESADA 18KG', 'MACA PEITO CG CRUZ SUL 25KG', 'MUSSARELA ITAOCA', 'MANTEIGA ITAOCA C/SAL 500G', 'COXA/SC CG FRANCAP PT 20KG']

In [ ]:
# comparar listas
lista_final = list(set(lista_unica_canal) - set(lista_unica))
print(lista_final)

['ASA CG AVENOVA ENV 18KG', 'EMP REZENDE STEAK FGO 72X100G', 'LING SADELLE CALAB FININ 3X5KG', 'COX ASA CG BIG TEMP PT18KG', 'PX SURUBIM POST DIBON 15X700G', 'FRANGO CG FERREIRA 20KG', 'LEITE LV ITA INTEGRAL 12X1L', 'MACA PEITO CG CRUZ SUL 25KG', 'MUSSARELA ITAOCA', 'MANTEIGA ITAOCA C/SAL 500G']

In [ ]:
teste = lista_final[1]
teste

'PX SURUBIM POST DIBON 15X700G'

In [ ]:
verde = "\033[0;32m"

In [ ]:
print('teste ' + verde)

teste

In [ ]:
print( type(lista_cliente) )

<class 'list'>

In [ ]:
# comparar listas
lista_final = list(set(lista_unica_canal) - set(lista_unica))
lista_final

In [ ]:
lista_unica

['MUSSARELA ITAOCA']

In [ ]:
lista_unica_canal

In [ ]:
canal =  pd.read_csv('vendas_canal_grupo.csv', sep= ';',  encoding = 'unicode_escape')

In [ ]:
canal

              DATA  COD_CLIENTE  ...               GRUPO_DE_PRODUTO  Unnamed: 8
0       04/08/2021         3631  ...   EMPANADOS GRANEL SEARA (VLA)         NaN
1       04/08/2021          784  ...                   KINDER BUENO         NaN
2       04/08/2021          784  ...                   KINDER BUENO         NaN
3       04/08/2021          784  ...  LING CALAB GRANEL SEARA (MIS)         NaN
4       04/08/2021          784  ...                   KINDER BUENO         NaN
...            ...          ...  ...                            ...         ...
217900  04/11/2021        86531  ...                   KINDER BUENO         NaN
217901  04/11/2021        86531  ...  FILE DE PEITO FRANGO CG (INC)         NaN
217902  04/11/2021         1953  ...  FILE DE PEITO FRANGO CG (INC)         NaN
217903  04/11/2021         1953  ...       BACON SEARA GRANEL (MIS)         NaN
217904  04/11/2021         8176  ...       BACON SEARA GRANEL (MIS)         NaN

[217905 rows x 9 columns]

In [ ]:
canal_teste = canal.loc[(canal.COD_CLIENTE == 6404)]

In [ ]:
canal_teste

              DATA  COD_CLIENTE  ... GRUPO_DE_PRODUTO  Unnamed: 8
25399   12/08/2021         6404  ...        MUSSARELA         NaN
44272   20/08/2021         6404  ...        MUSSARELA         NaN
58648   26/08/2021         6404  ...        MUSSARELA         NaN
82799   08/09/2021         6404  ...        MUSSARELA         NaN
106750  17/09/2021         6404  ...        MUSSARELA         NaN
184751  21/10/2021         6404  ...        MUSSARELA         NaN

[6 rows x 9 columns]

In [ ]:
canal.query('COD_CLIENTE == 6404').head()

             DATA  COD_CLIENTE  ...           PRODUTO  Unnamed: 7
2      01/08/2021         6404  ...  MUSSARELA ITAOCA         NaN
27794  12/08/2021         6404  ...  MUSSARELA ITAOCA         NaN
46667  20/08/2021         6404  ...  MUSSARELA ITAOCA         NaN
61043  26/08/2021         6404  ...  MUSSARELA ITAOCA         NaN
85194  08/09/2021         6404  ...  MUSSARELA ITAOCA         NaN

[5 rows x 8 columns]

In [ ]:
canal_cliente = canal_teste.iloc[0]['CANAL']

In [ ]:
canal_cliente

'BARES / LANCHONETES / CANTINAS'

In [ ]:
canal_cliente

'BARES / LANCHONETES / CANTINAS'

In [ ]:
canal_geral = canal.loc[(canal.CANAL == canal_cliente)]

In [ ]:
canal_geral

              DATA  COD_CLIENTE  ...               GRUPO_DE_PRODUTO  Unnamed: 8
1       04/08/2021          784  ...                   KINDER BUENO         NaN
2       04/08/2021          784  ...                   KINDER BUENO         NaN
3       04/08/2021          784  ...  LING CALAB GRANEL SEARA (MIS)         NaN
4       04/08/2021          784  ...                   KINDER BUENO         NaN
32      04/08/2021          784  ...                   KINDER BUENO         NaN
...            ...          ...  ...                            ...         ...
217897  04/11/2021        86531  ...                     KINDER OVO         NaN
217898  04/11/2021        86531  ...                     KINDER JOY         NaN
217899  04/11/2021        86531  ...                      MUSSARELA         NaN
217900  04/11/2021        86531  ...                   KINDER BUENO         NaN
217901  04/11/2021        86531  ...  FILE DE PEITO FRANGO CG (INC)         NaN

[29426 rows x 9 columns]

In [ ]:
print( type(canal_geral) )

<class 'pandas.core.frame.DataFrame'>

In [ ]:
lista_cliente = canal_teste['PRODUTO'].tolist()

In [ ]:
print( type(lista_cliente) )

<class 'list'>

In [ ]:
lista_cliente

['MUSSARELA ITAOCA',
 'MUSSARELA ITAOCA',
 'MUSSARELA ITAOCA',
 'MUSSARELA ITAOCA',
 'MUSSARELA ITAOCA',
 'MUSSARELA ITAOCA',
 'MUSSARELA ITAOCA']

In [ ]:
lista_canal = canal_geral['PRODUTO'].tolist()

In [ ]:
codigo_cliente = canal_teste.iloc[0]['COD_CLIENTE']

In [ ]:
codigo_cliente

6404

In [ ]:
nome_cliente = canal_teste.iloc[0]['CLIENTE']

In [ ]:
nome_cliente

'SUPERMERCADO JOAO NOGUEIRA LTDA'

In [ ]:
canal_cliente = canal_teste.iloc[0]['CANAL']

In [ ]:
canal_cliente

'BARES / LANCHONETES / CANTINAS'

In [ ]:
lista_unica = list(set(lista_cliente))
lista_unica_canal = list(set(lista_canal))
lista_final = list(set(lista_unica_canal) - set(lista_unica))
#return render_template("resultadolista.html",previsao=lista_final, teste=lista_unica, codigo = codigo_cliente, nome = nome_cliente, canal= canal_cliente)

In [ ]:
lista_unica

['MUSSARELA ITAOCA']

In [ ]:
lista_final

In [ ]:
lista_unica_canal

In [ ]:
lista_cliente

In [ ]:
canal_teste1 = canal.loc[(canal.COD_CLIENTE == 475500)]
if canal_teste1.empty:
  print('entrou no if')
else:
  print('entro no else')

entrou no if

In [ ]:
canal_geral_grupo = canal.loc[(canal.GRUPO_DE_PRODUTO == canal_cliente)]

In [ ]:
canal_geral_grupo

Empty DataFrame
Columns: [DATA, COD_CLIENTE, CLIENTE, COD_VENDEDOR, CANAL, COD_PRODUTO, PRODUTO, GRUPO_DE_PRODUTO, Unnamed: 8]
Index: []

##########################  grupo começa aqui

In [ ]:
canal =  pd.read_csv('vendas_canal_grupo_valores.csv', sep= ';',  encoding = 'unicode_escape')

In [ ]:
canal

              DATA  COD_CLIENTE  ...               GRUPO_DE_PRODUTO  Unnamed: 8
0       04/08/2021         3631  ...   EMPANADOS GRANEL SEARA (VLA)         NaN
1       04/08/2021          784  ...                   KINDER BUENO         NaN
2       04/08/2021          784  ...                   KINDER BUENO         NaN
3       04/08/2021          784  ...  LING CALAB GRANEL SEARA (MIS)         NaN
4       04/08/2021          784  ...                   KINDER BUENO         NaN
...            ...          ...  ...                            ...         ...
217900  04/11/2021        86531  ...                   KINDER BUENO         NaN
217901  04/11/2021        86531  ...  FILE DE PEITO FRANGO CG (INC)         NaN
217902  04/11/2021         1953  ...  FILE DE PEITO FRANGO CG (INC)         NaN
217903  04/11/2021         1953  ...       BACON SEARA GRANEL (MIS)         NaN
217904  04/11/2021         8176  ...       BACON SEARA GRANEL (MIS)         NaN

[217905 rows x 9 columns]

In [ ]:
canal_geral_grupo = canal

In [ ]:
canal_geral_grupo

In [ ]:
canal_teste = canal.loc[(canal.COD_CLIENTE == 6404)]

In [ ]:
canal_teste

In [ ]:
canal_cliente = canal_teste.iloc[0]['CANAL']

In [ ]:
canal_cliente

'BARES / LANCHONETES / CANTINAS'

In [ ]:
canal_geral_grupo = canal.loc[(canal.CANAL == canal_cliente)]

In [ ]:
canal_geral_grupo

              DATA  COD_CLIENTE  ...               GRUPO_DE_PRODUTO  Unnamed: 8
1       04/08/2021          784  ...                   KINDER BUENO         NaN
2       04/08/2021          784  ...                   KINDER BUENO         NaN
3       04/08/2021          784  ...  LING CALAB GRANEL SEARA (MIS)         NaN
4       04/08/2021          784  ...                   KINDER BUENO         NaN
32      04/08/2021          784  ...                   KINDER BUENO         NaN
...            ...          ...  ...                            ...         ...
217897  04/11/2021        86531  ...                     KINDER OVO         NaN
217898  04/11/2021        86531  ...                     KINDER JOY         NaN
217899  04/11/2021        86531  ...                      MUSSARELA         NaN
217900  04/11/2021        86531  ...                   KINDER BUENO         NaN
217901  04/11/2021        86531  ...  FILE DE PEITO FRANGO CG (INC)         NaN

[29426 rows x 9 columns]

In [ ]:
frame_limpa= canal_geral_grupo['GRUPO_DE_PRODUTO']

In [ ]:
frame_limpa

1                          KINDER BUENO
2                          KINDER BUENO
3         LING CALAB GRANEL SEARA (MIS)
4                          KINDER BUENO
32                         KINDER BUENO
                      ...
217897                       KINDER OVO
217898                       KINDER JOY
217899                        MUSSARELA
217900                     KINDER BUENO
217901    FILE DE PEITO FRANGO CG (INC)
Name: GRUPO_DE_PRODUTO, Length: 29426, dtype: object

In [ ]:
testesrt = canal_geral_grupo['GRUPO_DE_PRODUTO'].str.replace(r"\(.*\)","")

In [ ]:
testesrt

1                     KINDER BUENO
2                     KINDER BUENO
3         LING CALAB GRANEL SEARA
4                     KINDER BUENO
32                    KINDER BUENO
                    ...
217897                  KINDER OVO
217898                  KINDER JOY
217899                   MUSSARELA
217900                KINDER BUENO
217901    FILE DE PEITO FRANGO CG
Name: GRUPO_DE_PRODUTO, Length: 29426, dtype: object

In [ ]:
print( type(testesrt) )

<class 'pandas.core.series.Series'>

In [ ]:
lista

In [ ]:
canal_geral_grupo

              DATA  COD_CLIENTE  ...               GRUPO_DE_PRODUTO  Unnamed: 8
1       04/08/2021          784  ...                   KINDER BUENO         NaN
2       04/08/2021          784  ...                   KINDER BUENO         NaN
3       04/08/2021          784  ...  LING CALAB GRANEL SEARA (MIS)         NaN
4       04/08/2021          784  ...                   KINDER BUENO         NaN
32      04/08/2021          784  ...                   KINDER BUENO         NaN
...            ...          ...  ...                            ...         ...
217897  04/11/2021        86531  ...                     KINDER OVO         NaN
217898  04/11/2021        86531  ...                     KINDER JOY         NaN
217899  04/11/2021        86531  ...                      MUSSARELA         NaN
217900  04/11/2021        86531  ...                   KINDER BUENO         NaN
217901  04/11/2021        86531  ...  FILE DE PEITO FRANGO CG (INC)         NaN

[29426 rows x 9 columns]

In [ ]:
lista_grupo = canal_geral_grupo['GRUPO_DE_PRODUTO'].tolist()

In [ ]:
lista_grupo_corrigido = testesrt.tolist()

In [ ]:
lista_grupo_corrigido

organizando codigo final lista por grupos

In [ ]:
from datetime import date

In [ ]:
data_atual = date.today()
print(data_atual)

2021-11-04

In [ ]:
data_em_texto = data_atual.strftime('%d/%m/%Y')
print(data_em_texto)

04/11/2021

In [ ]:
arquivo = open('log.txt','a')
arquivo.write(texto + "\n")

In [ ]:
#########################  produtos mais comprado por canal

In [ ]:
canal =  pd.read_csv('vendas_canal_grupo_valores.csv', sep= ';',  encoding = 'unicode_escape')

In [ ]:
canal_teste = canal.loc[(canal.COD_CLIENTE == 6404)]

In [ ]:
canal_teste

       COD_CLIENTE                          CLIENTE  ...  VALOR_VENDA Unnamed: 8
13615         6404  SUPERMERCADO JOAO NOGUEIRA LTDA  ...     18765,15        NaN

[1 rows x 9 columns]

In [ ]:
canal_cliente = canal_teste.iloc[0]['CANAL']

In [ ]:
canal_cliente

'BARES / LANCHONETES / CANTINAS'

In [ ]:
canal_geral_grupo = canal.loc[(canal.CANAL == canal_cliente)]

In [ ]:
canal_geral_grupo.head(50)

In [ ]:
print(canal_geral_grupo)

        COD_CLIENTE  ... Percentual
27                8  ...   5.198299
28                8  ...   0.505209
29                8  ...   0.042381
30                8  ...   4.845069
31                8  ...   3.888246
...             ...  ...        ...
121064        88434  ...   0.124837
121065        88434  ...   0.062318
121066        88434  ...   0.012833
121067        88434  ...   0.013947
121068        88434  ...   0.017576

[16083 rows x 11 columns]

In [ ]:
total = sum(canal_geral_grupo.VALOR_VENDA)

In [ ]:
total

8208691.74999992

In [ ]:
canal_geral_grupo.isnull().sum()

COD_CLIENTE             0
CLIENTE                 0
COD_VENDEDOR            0
CANAL                   0
COD_PRODUTO             0
PRODUTO                 0
GRUPO_DE_PRODUTO        0
VALOR_VENDA             0
Unnamed: 8          16083
Total                   0
dtype: int64

In [ ]:
canal_geral_grupo.dtypes

COD_CLIENTE           int64
CLIENTE              object
COD_VENDEDOR          int64
CANAL                object
COD_PRODUTO           int64
PRODUTO              object
GRUPO_DE_PRODUTO     object
VALOR_VENDA         float64
Unnamed: 8          float64
Total               float64
Percentual          float64
dtype: object

In [ ]:
canal_geral_grupo['VALOR_VENDA'] = canal_geral_grupo['VALOR_VENDA'].apply(lambda x: str(x).replace(",","."))

In [ ]:
canal_geral_grupo['VALOR_VENDA'] = canal_geral_grupo['VALOR_VENDA'].astype('float64')

In [ ]:
canal_geral_grupo['Total'] = canal_geral_grupo.sum(axis=1)

In [ ]:
canal_geral_grupo['Percentual'] = canal_geral_grupo['VALOR_VENDA']/canal_geral_grupo['Total']*100

In [ ]:
novo.to_csv('lista_atual.csv', sep=';')

In [ ]:
colunas = ['PRODUTO','VALOR_VENDA']

In [ ]:
frame_agrupado = canal_geral_grupo.filter(items=colunas)

In [ ]:
frame_agrupado

                               PRODUTO  VALOR_VENDA
27            PEITO CG FREDINI PT 20KG       958.40
28          BANHA SEARA RF 18X1KG 18KG       210.24
29             KINDER OVO T1X12 MENINO        65.42
30              RICOTA ITA FRESCA 500G        78.65
31                    MUSSARELA ITAOCA       240.74
...                                ...          ...
121064                MUSSARELA ITAOCA       228.36
121065  BACON G CAMPEIRO EXT PALETA KG       135.36
121066       HAMB TEXAS AVE/BOV 36X56G        35.64
121067     LING REZEND PALITUS 6X2,5KG        46.45
121068   PRESUNTO REZENDE OVAL 2X3,4KG        58.58

[16083 rows x 2 columns]

In [ ]:
frame = frame_agrupado.groupby('PRODUTO').sum()

In [ ]:
frame.head(60)

                                VALOR_VENDA
PRODUTO
ACEM CG CRUZ SUL KG                10047.16
ACEM CG F LESTE PORCIONADO KG      34240.07
ACEM CG FRIBOI KG                   1952.11
ALCATR C/MAM CG COOPCARNE KG         279.43
ALCATR C/MAM CG FRIGODIAS KG         604.82
ALCATR COMP CG CRUZ SUL GRILL      21891.33
ALCATR COMP CG TOPCARNE KG         10682.96
ALCATR COMP RF CRUZ SUL GRILL        353.21
ALMOND BOV CG SEARA 12X500G 6K       215.76
ANEL CEBOLA CG MCCAIN 18X400G        170.64
APRES REZEND RETANG 2X3,5K 7KG     92272.07
APRES SEARA FATIADO 20X200G          654.60
APRES SEARA RET 4X3,64 14,55K       9537.18
ASA CG AVENOVA ENV 20G             28471.18
ASA CG AVENOVA ENV 20G VLA          1503.60
ASA CG AVENOVA INT 4X5KG 20KG       5667.45
ASA CG AVENOVA INT 4X5KG VLA         239.60
ASA CG AVENOVA PT 20KG              1481.80
ASA CG AVENOVA PT 20KG VLA          5274.35
ASA CG BIG INT 20KG                23449.69
ASA CG BIG INT 20KG VLA              979.20
ASA CG COGRAN PT 20KG                225.60
ASA CG FERREIRA INT 2X10KG 20K      2322.40
ASA CG FERREIRA PT 20KG             6654.84
ASA CG FERREIRA PT 20KG VLA          513.33
ASA CG FRANCAP ENV 20KG             5546.80
ASA CG FRANCAP ENV 20KG VLA         2084.01
ASA CG FRANCAP INT 20KG             2217.80
ASA CG FRANCAP PT 20KG             12953.92
ASA CG FRANCAP PT 20KG VLA          3309.60
ASA CG PIF PAF PT 20KG              4663.28
ASA CG RARA ENV 20KG                3388.60
BACON ADEEL EXTRA PALETA KG        34968.99
BACON ADEEL EXTRA PERNIL KG        14540.26
BACON ADEEL MANTA KG                2503.83
BACON CG IMPERATRIZ CUBO 10X1K     41671.15
BACON CG IMPERATRIZ CUBO 15X1K     17470.80
BACON F LESTE MANTA KG             27416.47
BACON G CAMPEIRO EXT PALETA KG     11897.55
BACON G CAMPEIRO MANTA KG           5293.13
BACON G CAMPEIRO PERNIL KG          5060.82
BACON REZENDE MANTA 16KG           49524.29
BACON REZENDE PEDACO KG             4312.99
BACON SEARA FAT D SMOK 20X180G       353.60
BACON SEARA FATIAS 20X250G           693.20
BACON SEARA MANTA 4X4,00 16KG      69757.27
BACON SEARA MANTA EXTRA KG          8782.85
BACON SEARA PEDACO KG                 47.08
BANANINHA CG CRUZ SUL KG           12012.66
BANANINHA CG FRIGODIAS KG            610.56
BANHA ALIBEM  18X1KG 18KG           6667.17
BANHA SEARA RF 18X1KG 18KG         38182.21
BANHA SEARA RF 18X1KG 18KG VLA      7346.34
BAT CG CROQUES 10X1,01KG 10,1K      1839.36
BAT CG CROQUES 26X375G 9,75KG       8466.97
BAT CG CROQUES 5X2KG 10KG          28568.15
BAT CG CROQUES CRINKL 10X1,01K       925.11
BAT CG MCCAIN AO FORNO 16X600G       138.88
BAT CG MCCAIN C FINO 7M 20X400       358.80
BAT CG MCCAIN C TRAD 9M 10X1,5      5418.00

In [ ]:
frame.dtypes

VALOR_VENDA    float64
dtype: object

In [ ]:
frame_cliente = canal_teste['PRODUTO']

In [ ]:
lista_cliente = frame_cliente.tolist()

In [ ]:
lista_valor = frame.tolist()

In [ ]:
############################### 10112021

In [ ]:
canal = pd.read_excel('/content/Relatório de venda_testes.xlsx')

In [ ]:
canal_cliente = canal.loc[(canal.COD_CLIENTE == 37361)]

In [ ]:
canal_cliente

In [ ]:
canal_cliente = canal_cliente.drop_duplicates(subset='PRODUTO')

In [ ]:
canal_cliente

    COD_CLIENTE  ...                        PRODUTO
72        37361  ...  COPA LOMBO S/OSS CG COOPCARNE
73        37361  ...     COXA/SC CG FRANCAP PT 20KG
76        37361  ...  GALINHA CG SABORO PESADA 18KG
79        37361  ...   PX CURIMBATA EVISC LCA  20KG

[4 rows x 5 columns]

In [ ]:
canal_geral = canal.loc[(canal.CANAL == 'SAPATARIA')]

In [ ]:
canal_geral

    COD_CLIENTE  ...                         PRODUTO
54        12586  ...         ASA CG AVENOVA ENV 18KG
55        12586  ...      COX ASA CG BIG TEMP PT18KG
56        12586  ...      COXA/SC CG FRANCAP PT 20KG
57        12586  ...   EMP REZENDE STEAK FGO 72X100G
58        12586  ...         FRANGO CG FERREIRA 20KG
59        12586  ...     LEITE LV ITA INTEGRAL 12X1L
61        12586  ...  LING SADELLE CALAB FININ 3X5KG
62        12586  ...     MACA PEITO CG CRUZ SUL 25KG
63        12586  ...      MANTEIGA ITAOCA C/SAL 500G
65        12586  ...                MUSSARELA ITAOCA
70        12586  ...   PX SURUBIM POST DIBON 15X700G
72        37361  ...   COPA LOMBO S/OSS CG COOPCARNE
76        37361  ...   GALINHA CG SABORO PESADA 18KG
79        37361  ...    PX CURIMBATA EVISC LCA  20KG

[14 rows x 5 columns]

In [ ]:
canal_geral = canal_geral.drop_duplicates(subset='PRODUTO')

In [ ]:
####  concatenar dois frames
lista_exclusao = canal_cliente['PRODUTO'].tolist()
#canal_geral = canal_geral.drop(['COXA/SC CG FRANCAP PT 20KG'], axis=1, inplace=True)
#canal_geral.drop(indexNames , inplace=True)
df_saida = canal_geral.loc[~canal_geral['PRODUTO'].isin(lista_exclusao)]
df_saida

    COD_CLIENTE  ...                         PRODUTO
54        12586  ...         ASA CG AVENOVA ENV 18KG
55        12586  ...      COX ASA CG BIG TEMP PT18KG
57        12586  ...   EMP REZENDE STEAK FGO 72X100G
58        12586  ...         FRANGO CG FERREIRA 20KG
59        12586  ...     LEITE LV ITA INTEGRAL 12X1L
61        12586  ...  LING SADELLE CALAB FININ 3X5KG
62        12586  ...     MACA PEITO CG CRUZ SUL 25KG
63        12586  ...      MANTEIGA ITAOCA C/SAL 500G
65        12586  ...                MUSSARELA ITAOCA
70        12586  ...   PX SURUBIM POST DIBON 15X700G

[10 rows x 5 columns]

In [ ]:
canal_geral

    COD_CLIENTE  ...                         PRODUTO
0         86838  ...                MUSSARELA ITAOCA
1         86838  ...                MUSSARELA ITAOCA
2         86838  ...                MUSSARELA ITAOCA
3         86810  ...  ALCATRA COMP CG COOPCARNE 25KG
4         86810  ...  ALCATRA COMP CG COOPCARNE 25KG
..          ...  ...                             ...
67        12586  ...                MUSSARELA ITAOCA
68        12586  ...                MUSSARELA ITAOCA
69        12586  ...                MUSSARELA ITAOCA
70        12586  ...   PX SURUBIM POST DIBON 15X700G
71        12586  ...   PX SURUBIM POST DIBON 15X700G

[72 rows x 5 columns]

In [ ]:
canal

    COD_CLIENTE  ...                         PRODUTO
0         86838  ...                MUSSARELA ITAOCA
1         86838  ...                MUSSARELA ITAOCA
2         86838  ...                MUSSARELA ITAOCA
3         86810  ...  ALCATRA COMP CG COOPCARNE 25KG
4         86810  ...  ALCATRA COMP CG COOPCARNE 25KG
..          ...  ...                             ...
80        37361  ...    PX CURIMBATA EVISC LCA  20KG
81        37361  ...    PX CURIMBATA EVISC LCA  20KG
82        37361  ...    PX CURIMBATA EVISC LCA  20KG
83        37361  ...    PX CURIMBATA EVISC LCA  20KG
84        37361  ...    PX CURIMBATA EVISC LCA  20KG

[85 rows x 5 columns]

In [ ]:
canal['PRODUTO'] = canal['PRODUTO'].apply(lambda x: str(x).replace("KG",""))

In [ ]:
canal

    COD_CLIENTE  ...                       PRODUTO
0         86838  ...              MUSSARELA ITAOCA
1         86838  ...              MUSSARELA ITAOCA
2         86838  ...              MUSSARELA ITAOCA
3         86810  ...  ALCATRA COMP CG COOPCARNE 25
4         86810  ...  ALCATRA COMP CG COOPCARNE 25
..          ...  ...                           ...
80        37361  ...    PX CURIMBATA EVISC LCA  20
81        37361  ...    PX CURIMBATA EVISC LCA  20
82        37361  ...    PX CURIMBATA EVISC LCA  20
83        37361  ...    PX CURIMBATA EVISC LCA  20
84        37361  ...    PX CURIMBATA EVISC LCA  20

[85 rows x 5 columns]

In [ ]:
canal_teste =  pd.read_csv('vendas_canal_grupo_valores.csv', sep= ';',  encoding = 'unicode_escape')

In [ ]:
canal_teste.dtypes

In [ ]:
canal_teste['PRODUTO'] = canal_teste['PRODUTO'].apply(lambda x: str(x).replace("VLA",""))

In [ ]:
canal_teste['PRODUTO'] = canal_teste['PRODUTO'].apply(lambda x: str(x).replace("VL",""))

In [ ]:
canal_teste.dtypes

In [ ]:
canal_teste

In [ ]:
#canal_teste['PRODUTO'] =canal_teste['PRODUTO'].map(lambda x: x.lstrip('VL').rstrip('VLA'))
canal_teste = canal_teste.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
lista_teste = canal_teste['PRODUTO'].tolist()
lista_unica = list(set(lista_teste))
lista_unica = sorted(lista_unica)

In [ ]:
lista_unica

In [ ]:
canal_teste

        COD_CLIENTE  ... Unnamed: 8
0                 4  ...        NaN
1                 4  ...        NaN
2                 4  ...        NaN
3                 4  ...        NaN
4                 4  ...        NaN
...             ...  ...        ...
121126        88461  ...        NaN
121127        88461  ...        NaN
121128        88463  ...        NaN
121129        88463  ...        NaN
121130        88464  ...        NaN

[121131 rows x 9 columns]

In [ ]:
canal_teste.drop_duplicates(subset='PRODUTO')

        COD_CLIENTE  ... Unnamed: 8
0                 4  ...        NaN
1                 4  ...        NaN
2                 4  ...        NaN
3                 4  ...        NaN
4                 4  ...        NaN
...             ...  ...        ...
120753        88367  ...        NaN
120937        88401  ...        NaN
120950        88401  ...        NaN
121128        88463  ...        NaN
121129        88463  ...        NaN

[1023 rows x 9 columns]

In [ ]:
canal_teste.to_csv('lista_atual.csv', sep=';')

In [ ]:
canal_teste['PRODUTO'] = canal_teste['PRODUTO'].astype('str')

In [ ]:
canal_teste['PRODUTO'].unique()

array(['KINDER OVO T1X12 MENINO', 'KINDER JOY T1X16',
       'KINDER OVO T1X12 MENINA', ..., 'PERU CG SEARA C/4PCS 18KG',
       'LING SEARA PERNIL 24X700G', 'COXAO DURO CG FRIBOI KG'],
      dtype=object)

In [ ]:
canal_teste

        COD_CLIENTE  ... Unnamed: 8
0                 4  ...        NaN
1                 4  ...        NaN
2                 4  ...        NaN
3                 4  ...        NaN
4                 4  ...        NaN
...             ...  ...        ...
120753        88367  ...        NaN
120937        88401  ...        NaN
120950        88401  ...        NaN
121128        88463  ...        NaN
121129        88463  ...        NaN

[1023 rows x 9 columns]

In [ ]:
# 1 testar frame codigo de cliente
# 2 testar frame codigo canal
# 3 converter para float coluna valores
# 4 limpar dados vla coluna produtos
# na fase final tem que agrupar por produto e somar e depois fazer o marge

In [ ]:
# tratamento dos dados
# limpeza dos dados vl e vla
# trocando virgula por ponto e alterando tipo de object para float64
canal['PRODUTO'] = canal['PRODUTO'].apply(lambda x: str(x).replace("VLA",""))
canal['PRODUTO'] = canal['PRODUTO'].apply(lambda x: str(x).replace("VL",""))
canal = canal.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
canal['VALOR_VENDA'] = canal['VALOR_VENDA'].apply(lambda x: str(x).replace(",","."))
canal['VALOR_VENDA'] = canal['VALOR_VENDA'].astype('float64')
canal.dtypes

In [ ]:
# frame cliente
canal_cliente_v = canal.loc[(canal.COD_CLIENTE == 50)]
codigo_canal_cliente = canal_cliente_v.iloc[0]['CANAL']
canal_cliente_v = canal_cliente_v.drop_duplicates(subset='PRODUTO')

In [ ]:
canal_geral_v = canal.loc[(canal.CANAL == codigo_canal_cliente)] 
#canal_geral_v = canal_geral_v.drop_duplicates(subset='PRODUTO')

In [ ]:
# exclcuido produtos do cliente no frame canal
lista_exclusao = canal_cliente_v['PRODUTO'].tolist()
df_saida = canal_geral_v.loc[~canal_geral_v['PRODUTO'].isin(lista_exclusao)]
#df_saida

In [ ]:
colunas = ['PRODUTO','VALOR_VENDA']
frame_agrupado = df_saida.filter(items=colunas)
frame = frame_agrupado.groupby('PRODUTO').sum()
frame_agrupado.dtypes

In [ ]:
# ordenando o frame
frame_ordenado= frame.sort_values(by=['VALOR_VENDA'], ascending=False,)
frame_ordenado
frame_final = frame_ordenado.head(10)
frame_teste = frame_final.reset_index

In [ ]:
print(frame_teste)

In [ ]:
df_saida_teste = df_saida[['PRODUTO', 'VALOR_VENDA']].groupby('PRODUTO').sum().reset_index

In [ ]:
df_saida_teste.dtypes

In [ ]:
df_saida_teste['VALOR_VENDA'] = canal['VALOR_VENDA'].apply(lambda x: str(x).replace(",","."))
df_saida_teste['VALOR_VENDA'] = canal['VALOR_VENDA'].astype('float64')

In [ ]:
df_saida_teste.dtypes

VALOR_VENDA    float64
dtype: object

In [ ]:
df_saida_teste

In [ ]:
g1 = frame_agrupado.groupby(["PRODUTO"], as_index=False).sum()

In [ ]:
g1

In [ ]:
frame_ordenado= g1.sort_values(by=['VALOR_VENDA'], ascending=False,)

In [ ]:
frame_final = frame_ordenado.head(10)

In [ ]:
frame_final

                            PRODUTO  VALOR_VENDA
342                MUSSARELA ITAOCA    590594.47
332     MORT SEARA CONF 4X3,5K 14KG    298520.85
340                   MUSSARELA ITA    178649.88
287      MANTEIGA ITAOCA C/SAL 500G    124109.39
158            FRANGO CG SEARA 20KG    114813.19
140      F PEITO CG SEARA BD 12X1KG     70018.48
154          FRANGO CG FREDINI 20KG     51223.35
285    MANTEIGA ITA C/SAL POTE 500G     44318.66
108  EMP SEARA PRES/QJO 25X120G 3KG     43792.78
444  PX F TILAPIA NATUPEIXE 15X400G     43747.30

In [ ]:
lista_final = frame_final['PRODUTO'].tolist()

In [ ]:
lista_final

['MUSSARELA ITAOCA',
 'MUSSARELA ITA',
 'MORT SEARA CONF 4X3,5K 14KG',
 'MANTEIGA ITAOCA C/SAL 500G',
 'FRANGO CG SEARA 20KG',
 'KINDER OVO T1X12 MENINO',
 'F PEITO CG SEARA BD 12X1KG',
 'FRANGO CG FREDINI 20KG',
 'KINDER OVO T1X12 MENINA',
 'EMP SEARA PRES/QJO 25X120G 3KG']